* {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
a{
    text-decoration: none;
}
.navbar {
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ff0;
  background: transparent;
  padding-top: 50px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.tab:hover {
  color: goldenrod;
}

.tab.active {
  color: #ff0;
  border-bottom: 2px solid #ff0;
}

.tab-content {
  padding-left: 20px;
  padding-bottom:20px;
  border: none;
}




