*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.outer{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    color: white;
}
